<div class="header">
  <div class="">
    <div class="row">
      <div class="col-md-6">
        <img
          src="https://media-exp1.licdn.com/dms/image/C560BAQHR2xK7yoj5rg/company-logo_200_200/0/1628192587953?e=2159024400&amp;v=beta&amp;t=g6mjsofb0lUZqLUoMkYON9xKPKBt2PmT0syWglxOAqw"
          alt="Network Secure - Segurança da Informação | LinkedIn"
          jsname="HiaYvf"
          jsaction="load:XAeZkd;"
          class="n3VNCb"
          data-noaft="1"
          style="width: 200px; height: 200px; margin: 23.45px 0px"
        />

        <h1><a href="" class="title">Network security blog</a></h1>
      </div>
      <div class="col-md-3">
        <a href="/add-post" class="new-post">Adicioanar post</a>
        <button class="logout btn btn-default" (click)="logout()">Sair</button>
      </div>
      <div class="col-md-3">
        <a href="/login" class="login btn btn-default">Logar</a>
        <a href="/register" class="register btn btn-default">Registrar</a>
      </div>
    </div>
  </div>
</div>
