.header{
  padding: 5px 20px;
  background: rgb(225, 142, 65);
}

.valor{
  color: aliceblue;
  text-decoration: none;
}

.login,.register{
  float: lefts;
  text-decoration: none;
  color: aliceblue;
  padding-top: 10px;
}

.logout,.new-projeto{
  float: right;
  color: aliceblue;
  padding-top: 10px;
}

.logout:hover, .new-projeto:hover{
  color: aliceblue;
  text-decoration: none;
}
