<div class="header">
  <div class="">
    <div class="row">
      <div class="col-md-6">
        <h1><a routerLink="/" class="valor">Projeto Lampp</a></h1>
      </div>
      <div class="col-md-3" *ngIf="isLoggedIn()">
        <a routerLink="/home/add-projeto" class="new-projeto">Adicioanar projeto</a>
        <a [routerLink]="['']" class="logout btn btn-default" (click)="logout()">Sair</a>
      </div>
      <div *ngIf="!isLoggedIn()" class="col-md-3">
        <a routerLink="/projetos" class="login btn btn-default">Projetos</a>
        <a routerLink="/auth/login" class="login btn btn-default">Entrar</a>
        <a routerLink="/auth/register" class="register btn btn-default">Registre-se</a>
      </div>
    </div>
  </div>
</div>
