<div class="container">
  <h1 class="h3 mb-3 font-weight-normal">Favor, logar</h1>
  <form
    class="form-signin"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <div class="form-group">
      <label for="inputUsername" class="sr-only">Usuário</label>
      <input
        type="text"
        id="inputUsername"
        formControlName="userName"
        class="form-control"
        placeholder="Username"
        autofocus=""
      />
    </div>

    <div class="form-group">
      <label for="inputPassword" class="sr-only">Senha</label>
      <input
        type="password"
        id="inputPassword"
        formControlName="password"
        class="form-control"
        placeholder="Password"
      />
    </div>
   <button class="btn btn-primary" type="submit">Entrar</button>
  </form>
</div>
