<div class="container justify-content-center">
  <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal">Por favor, registre-se</h1>
    <div class="form-group">
      <label for="inputUsername" class="sr-only">Username</label>
      <input
        type="text"
        id="inputUsername"
        formControlName="userName"
        class="form-control"
        placeholder="Username"
        autofocus=""
      />
    </div>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">E-mail</label>
      <input
        type="text"
        id="inputEmail"
        formControlName="email"
        class="form-control"
        placeholder="E-mail"
        autofocus=""
      />
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        id="inputPassword"
        formControlName="password"
        class="form-control"
        placeholder="Password"
      />
    </div>
    <div class="form-group">
      <label for="inputConfirmPassword" class="sr-only">Password</label>
      <input
        type="password"
        id="inputConfirmPassword"
        formControlName="confirmPassword"
        class="form-control"
        placeholder="Confirma Password"
      />
    </div>
    <button class="btn btn-primary btn-primary" type="submit">
      Enviar cadastro
    </button>
  </form>
</div>
