 <div *ngIf="isUpdate() ? (isLoggedIn() && isOwner()) : isLoggedIn()" class="add-post-content">
  <div class="container">
    <div>
      <h3 class="new-post-title">{{ postPayload.id ? 'Atualizar post':'Inserir post' }}</h3>
    </div>
    <hr />
    <form [formGroup]="addPostForm" (ngSubmit)="addPost()">
      <div class="form-group">
        <label class="post-title">Título</label>
        <input
          type="text"
          [formControlName]="'title'"
          class="form-control"
          placeholder="Título"
        />
      </div>
      <div class="form-group">
        <label class="post-content">Texto</label>
        <editor
          [formControlName]="'body'"
          [init]="{ plugins: 'link' }"
        ></editor>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Postar</button>
      </div>
    </form>
  </div>
</div>
