
<div class="container-md pt-5 pb-5">
  <h2>Projetos já realizados pela LAMPP-IT 2021</h2>
  <hr />

  <table class="table table-bordered spaceless">
    <thead>
      <tr>
        <th>ID</th>
        <th>Criação</th>
        <th>Finalização</th>
        <th>Valor R$</th>
        <th>Descrição</th>
        <th>Responsável</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projeto of projetos">
        <td>{{ projeto.id }}</td>
        <td>{{ projeto.dtCriacao }}</td>
        <td>{{ projeto.dtFinalizacao }}</td>
        <td>{{ projeto.valor }}</td>
        <td [innerHTML]="projeto.descricao"></td>
        <td>{{ projeto.userName }}</td>
        <td>
          <div class="d-flex flex-row">
            <button
              *ngIf="isLoggedIn()"
              class="btn btn-primary mr-2"
              (click)="atualizar(projeto.id)"
            >
              Atualizar
            </button>
            <button
              *ngIf="isLoggedIn()"
              (click)="excluir(projeto.id)"
              class="btn btn-danger"
            >
              Remover
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>
</div>
