<!--app-header></app-header-->
<div class="container-md pt-5 pb-5">
  <h2>Posts</h2>
  <hr />

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Criação</th>
        <th>Título</th>
        <th>Texto</th>
        <th>Autor:</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ post.id }}</td>
        <td>{{ post.createdOn }}</td>
        <td>{{ post.title }}</td>
        <td [innerHTML]="post.content"></td>
        <td>{{ post.userName }}</td>
        <td>
          <div class="d-flex flex-row">
            <button class="btn btn-primary mr-2" (click)="visualizar(post.id)">
              Comentários
            </button>
            <button *ngIf="isLoggedIn()" class="btn btn-primary mr-2" (click)="atualizar(post.id)">
              Atualizar
            </button>
            <button *ngIf="isLoggedIn()" (click)="excluir(post.id)" class="btn btn-danger">
              Remover
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>
</div>
