<div class="container-md pt-5 pb-5">
  <h2>Comentários</h2>

  <hr>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Criação</th>
        <th>Atualização</th>
        <th>Comentários</th>
        <th>Autor:</th>
        <th *ngIf="isLoggedIn() && isOwner()">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments">
        <td>{{ comment.id }}</td>
        <td>{{ comment.createdOn }}</td>
        <td>{{ comment.updatedOn }}</td>
        <td [innerHTML]="comment.content"></td>
        <td>{{ comment.userName }}</td>
        <td *ngIf="isLoggedIn()">
          <div class="d-flex flex-row">
            <button
              *ngIf="isLoggedIn() && isOwner()"
              class="btn btn-primary mr-2"
              (click)="atualizar(comment.id)"
            >
              Atualizar
            </button>
            <button
              *ngIf="isLoggedIn() && isOwner()"
              (click)="excluir(comment.id)"
              class="btn btn-danger"
            >
              Remover
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <hr />

  <form *ngIf="isUpdate() && isLoggedIn()" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="post-content">Texto</label>
      <editor
        [formControlName]="'content'"
        [init]="{ plugins: 'link' }"
      ></editor>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Postar</button>
    </div>
  </form>
</div>
